img#vert {
  width: 25vw;
  height: 50hw;
}

img#horz {
  width: 50vw;
  height: 25hw;
}

fieldset{
  border-color: black;
}

fieldset.comment{
  background-color: #bbbbbb;
  color: orange;
}

body {
    background-color: #bbbbbb;
}

h1 {
  font-size: 24px;
  float: center;
}

h2 { 
  font-size: 22px;
}

h3 {
  font-size: 20px;

}

p {
  font-size: 18px;

}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(107, 107, 107);
}

ul#nav li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul#nav li:last-child {
  border-right: none;
}

ul#nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul#nav li a:hover:not(.active) {
  background-color: rgb(255, 194, 137);
}

ul#nav li a.active {
  background-color: rgb(136, 197, 218);
}